body {
    margin: 0 auto;
    padding: 0;
    border: 0;
    background-color: rgb(240, 240, 240);
}

.navbar {
    height: 12rem;
    width: 100vw;
    /* border: 1px solid black; */
}

.navbar-item {
    font-family: Montserrat;
    text-decoration: none;
    color: black;
    font-size: 40px;
    text-align: center;
    line-height: 12rem;
    margin-left: 1em;
    letter-spacing: 0.1em;
    word-spacing: 0.2em;
}

.photo-grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    justify-content: center;
    align-items: center;
    margin-left: 3.3%;
    margin-right: 3.3%;
    margin-bottom: 6.6%
}

.photo {
    /* height: 500px; */
    max-width: 80%;
    margin-left:10%;
    margin-right:10%;
    border: 1px solid black;
    align-self: center;
    /* text-align: center; */
    /* align-items: center; */
    /* max-height: 100%;
    max-width: 100%;
    display: block; */
}