body {
    margin: 0 auto;
    padding: 0;
    border: 0;
    background-color: rgb(240, 240, 240);
}

.navbar {
    height: 12rem;
    width: 100vw;
    display: grid;
    grid-template-columns: 1fr;
}

.navbar-item {
    font-family: Montserrat;
    font-weight: 100;
    box-sizing: border-box;
    text-decoration: none;
    color: black;
    font-size: max(3.5vw, 24px);
    text-align: left;
    line-height: 12rem;
    letter-spacing: 0.2em;
    word-spacing: 0.4em;
    text-align: center;
}

.photo-grid {
    display: inline-block;
    justify-items: center;
    width: 100%;
    margin: auto;
}

.photo {
    width: max(475px, 2vw);
    align-self: center;
    margin: 0 auto;
    padding-bottom: 40px;
}

.photo img {
    max-width: max(475px, 2vw);
    border: 1px solid black;
}

.photo p {
    text-align: center;
    font-family: Montserrat;
}


